/*@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body {
    font-family: "Roboto", serif;
}
.wrapper {
    background: linear-gradient(to right, #fb786e, #fc826d);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    height: 69vh;
    background: #fff;
    box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
    width: 70%;
    margin: 0 auto;
}
.form__container {
    padding-top: 100px;
}

.weather__value {
    color: #4d6772;
    font-weight: 500;
    font-size: xx-large;
}
.weather__dt {
    color: #4d6772;
    font-weight: 200;
    font-size: xx-large;
}
.weather__dtsub {
    color: #4d6772;
    font-weight: 400;
    font-size: small;
}
.weather__ds {
    color: #4d6772;
    font-weight: 100;
    font-size: xx-large;
}
.weather__temp {
    color: #e39684;
    font-size: 80px;
    font-weight: 500;
}
.weather__tempsub {
    font-size: smaller;
    font-weight: 100;
}
.weather__error {
    color: #f16051;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 200;
}
.degree__CF {
    position: absolute;
    margin-top: -120px;
    float: right;
    padding-left: 80px;
}
.degree__CF__day {
    margin-top: -27px;
    margin-right: 10px;
    padding-left: 20px;
    float: right;
}
.degree__CF__forecast {
    position: absolute;
    margin-top: -19px;
    padding-left: 27px;
    float: right;
}
.weather__sign {
    position: absolute;
    padding-left: 240px;
    margin-top: -105px;
    /*float: right;*/
}
.weather__sign__sub {
    font-size: 35px;
    color: #4d6772;
    padding-left: 5px;
}
.pdlf {
    padding-left: 10px;
}
.day__time {
    color: #d8968d;
    font-size: large;
    font-weight: 100;
}
.input__city {
    display: flex;
    margin-left: 50px;
}
.container__margin {
    margin-top: 70px;
}
.icon__button {
    padding: 10px;
}
.top__space {
    margin-top: 20px;
}
.fl {
    float: right;
}
.switch__margin {
    margin-top: -10px;
}
#search__button {
    margin-bottom: 30px;
    right: 40px;
}
#cp {
    color: #4d6772;
}
#btn__cp {
    color: #4d6772;
    background:none!important;
    border:none;
    padding:0!important;
    font: inherit;
    border-bottom:1px dotted #444;
    cursor: pointer;
}
#input__city {
    margin-right: 0px;
}
#today__temp {
    position: absolute;
    padding-right: 50px;
}
#morning {
    position: absolute;
    padding-left: 40px;
}
#day {
    position: absolute;
    padding-left: 75px;
}
#evening {
    position: absolute;
    padding-left: 44px;
}
#night {
    position: absolute;
    padding-left: 63px;
}
#city__padding__top {
    padding-top: 5px;
}
#MuiThemeProvider {
    display: none;
}
#today__section {
    margin-bottom: 100px;
}
#first__row {
    margin-top: 15px;
    margin-bottom: 15px;
}
input[type="text"] {
    background-color: transparent;
    border: 0;
    border-bottom: solid 1px #000000;
    width: 100%;
    text-align: center;
    padding-bottom: 4px;
    color: #000 !important;
    font-weight: lighter;
    letter-spacing: 2px;
    margin-bottom: 30px;
    margin-right: 20px;
    font-size: 20px;
}
input[type="text"] {
    outline: none;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #fff inset;
    -webkit-text-fill-color: #000 !important;
}
input[type=text] {
    font-size: xx-large;
}
input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}
label {
    cursor: pointer;
    width: 80px;
    height: 30px;
    border: 1px solid #4d6772;
    display: block;
    border-radius: 100px;
    position: relative;
}
label:after {
    content: '';
    position: absolute;
    top: 2px;
    right: 5px;
    width: 30px;
    height: 25px;
    background: #fff;
    border: 1px solid #4d6772;
    border-radius: 90px;
    transition: 0.3s;
}
input:checked + label:after {
    right: calc(90% + 5px);
    transform: translateX(100%);
}
@media only screen and (max-width: 575px) {
    .main {
        height: 95%;
    }
    .switch__margin {
        margin-top: -70px;
    }
    .weather__dt , .weather__ds{
        font-size: larger;
    }
    .weather__temp {
        font-size: 60px;
    }
    .degree__CF {
        margin-right: 110px;
        padding-top: 30px;
        padding-left: 70px;
    }
    .degree__CF__forecast {
        margin-right: 70px;
    }
    .weather__sign {
        padding-right: 0px;
        padding-top: 30px;
        padding-left: 170px;
    }
    #today__section {
        margin-bottom: 100px;
    }
    #bottom__line {
        border-bottom: 5px solid transparent;
    }
    #day__time {
        padding-left: 40px;
    }
    #last__for {
        height: 230px;
        overflow-y: scroll;
    }
}
@media only screen and (max-width: 992px) {
    .main {
        height: 95%;
    }
    .weather__dt , .weather__ds {
        font-size: large;
    }
}
